body {
/* MegaTron Gradient */
background: #C6FFDD, #FBD786, #f7797d;
background: -webkit-linear-gradient(90deg, #C6FFDD, #FBD786, #f7797d);
background: linear-gradient(90deg, #C6FFDD, #FBD786, #f7797d);
}
